<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  RewriteCond %{REQUEST_URI} ^/([a-zA-Z0-9_-]+)_controller\.php$
  RewriteRule ^([a-zA-Z0-9_-]+)_controller\.php$ /$1 [L,R=301]
  RewriteRule ^index\.php$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . / [L]
</IfModule>
