body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ddd;
}

.form-login {
  flex-basis: 700px;
}

.login-card .card-header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  background-color: #5197dd;
  color: white;
}

.login-card .card-footer {
  display: flex;
  justify-content: center;
}
